.chat-main
  .chat-main__group-info
    .main-name
      test
    .main-edit
    =link_to "#" ,class: "edit-btn" do
      Edit
    .main-member
      member:name
  .chat-main__message-list
    .chat-main__message-list__user
      .chat-main__message-list__user__name
        まさ
      .chat-main__message-list__user__time
        2019/12/9
    .chat-main__message-list__message
      おはよう
      .chat-main__message-list__user
      .chat-main__message-list__user__name
        まさ
      .chat-main__message-list__user__time
        2019/12/9
    .chat-main__message-list__message
      こんにちは
      .chat-main__message-list__user
      .chat-main__message-list__user__name
        まさ
      .chat-main__message-list__user__time
        2019/12/9
    .chat-main__message-list__message
      こんばんは
  .chat-main__massage-form
    .massage-form__main
      %input.message-text{type: "text", placeholder:"type a message",class: "message-font"}
      %label{class:"input-box__image"}
        =icon("far","image", class:"image-icon")
        %input{type:"file", class:"image-input"}
    %input.message-submit{type: "submit", value:"Send",class: "submit-btn"}

