.chat-main
  .chat-main__group-info
    .main-name
      test
    .main-edit
    =link_to "#" ,class: "edit-btn" do
      Edit
    .main-member
      member:name
  .chat-main__message-list
  .chat-main__massage-form