.side-ber
  .side-ber__user-name
    .top-items__name
      .top-items
        name
      .top-items__icon
        =link_to icon("fas" ,"edit")
        =link_to icon("fas" ,"cog")
  .side-ber__group-list
    .side-ber__group-list__item
      .side-ber__group-list__item__name
        tech::expert
      .side-ber__group-list__item__last-message
        まだメッセージはありません

    .side-ber__group-list__item
      .side-ber__group-list__item__name
        tech::expert
      .side-ber__group-list__item__last-message
        まだメッセージはありません

    .side-ber__group-list__item
      .side-ber__group-list__item__name
        tech::expert
      .side-ber__group-list__item__last-message
        まだメッセージはありません