html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}
$s:#ffffff;
.chat-main{
  height: 100%;
  padding: 0;
  margin: 0;
  .chat-main__group-info{
    height: 100px;
    width: calc(100vw - 300px);
    background-color: $s;
    float: right;
    display: flex;
    justify-content:space-between;
    position: relative;
    .main-name{
      color: #333333;
      font-size: 20px;
      margin-left: 40px;
      margin-top: 35px;
    }
    .main-member{
      color: #999999;
      font-size: 12px;
      position: absolute;
      left: 40px;
      bottom: 0px;
      line-height: 30px;
    }
    .edit-btn{
      height: 40px;
      border: solid 1px skyblue;
      color: skyblue;
      margin-top: 28px;
      margin-right: 40px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 40px;
    }
  }
  .chat-main__message-list{
    height: calc(100vh - 100px - 90px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
    padding-left: 40px;
    float: right;
    .chat-main__message-list__user{
      display: flex;
      justify-content: flex-start;
      padding-bottom: 12px;
      margin-top: 35px;
      .chat-main__message-list__user__name{
        color: #333333;
        font-size: 16px;
      }
      .chat-main__message-list__user__time{
        color: #999999;
        font-size: 12px;
        margin-left: 5px;
      }

    }
    .chat-main__message-list__message{
      color: #434a54;
      font-size: 14px;
    }
  }
  .chat-main__massage-form{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    .massage-form__main{
      display: flex;
      justify-content: space-between;
      height: 50px;
      width: 100%;
      position: relative;
      .message-text{
        line-height: 50px;
        width: 100%;
        position: absolute;
      }
      .input-box__image{
        .image-icon{
          position: absolute;
          right: 0px;
          line-height: 50px;
          margin-right: 10px;
          font-size: 30px;
        }
        .image-input{
          display: none;
        }
      }
    }
      .submit-btn{
        height: 50px;
        width: 100px;
        background-color: rgb(59, 137, 189);
        color: $s;
        line-height: 50px;
        text-align: center;
        margin-left: 15px;
      }
    }
}