html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.chat-main{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  &__group-info{
    height: 100px;
    width: calc(100% - 300px);
    background-color: $main-color;
    float: right;
    display: flex;
    justify-content:space-between;
    position: relative;
    .main-name{
      color: #333333;
      font-size: 20px;
      margin-left: 40px;
      margin-top: 35px;
    }
    .main-member{
      color: #999999;
      font-size: 12px;
      position: absolute;
      left: 40px;
      bottom: 0px;
      line-height: 30px;
    }
    .edit-btn{
      height: 40px;
      border: solid 1px skyblue;
      color: skyblue;
      margin-top: 28px;
      margin-right: 40px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 40px;
      text-decoration: none;
    }
  }
  &__message-list{
    overflow: auto;
    height: calc(100vh - 100px - 90px);
    width: calc(100% - 300px);
    background-color: #fafafa;
    padding: 46px 40px 0;
    float: right;
    &__user{
      display: flex;
      justify-content: flex-start;
      padding-bottom: 12px;
      font-weight: bold;
      &__name{
        color: #333333;
        font-size: 16px;
      }
      &__time{
        color: #999999;
        font-size: 12px;
        margin-left: 5px;
      }
    }
    &__message{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 46px;
    }
  }
  // &__massage-form{
 
  //   .message-form__main{
  //     height: 50px;
  //     width: 100%;
  //     position: relative;
      .new_message{
        height: 90px;
        width: calc(100% - 300px);
        background-color: #d2d2d2;
        float: right;
        align-items: center;
        padding: 20px 50px 20px 40px;
        display: flex;
        justify-content: space-between; 
        .input-box{
          position: relative;
          width: 100%;
          .form__message{
            height: 50px;
            width: 100%;
            float:left;
            padding-right: 10px;
          }
          .input-box__label{
            height: 50px;
            line-height: 50px;
            // width: 100%; <-戦犯
            position: absolute;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
              .image-input{
                display: none;
              }
          }
        }
      }
      .submit-btn{
        background-color: $light_blue;
        border: none;
        color: $main-color;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        }
}
  // }
// }